nav {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 0px 30px;
  justify-content: space-between;
}
.logo {
  display: flex;
  padding: 10px 0;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.logo img {
  z-index: 10;
}
.img_container {
  height: fit-content;
  position: relative;
  margin-left: 5px;
  z-index: 2;
}
.img_container::before {
  position: absolute;
  content: "";
  left: 0;
  border-radius: 5px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}
.logo h1 {
  color: #fef06b;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.links_ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  font-size: 18px;
  z-index: 2;
  height: 100%;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: bottom;
  transform: scaleY(0);
  width: 100%;
  transition: transform 0.25s ease-in;
  height: 100%;
  background-color: black;
}
.active::before {
  transform: scaleY(1);
}
.link:hover::before {
  transform: scaleY(1);
}
.link p {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  color: white;
  transition: color 0.4s;
  text-decoration: none;
}
.autohide {
  z-index: 100000000;
  transition: all 0.3s ease-in-out;
  position: fixed;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.background {
  background-color: rgba(0, 0, 0, 1);
}
.scroll_link.active p {
  color: #fef06b;
}
.scroll_link:hover p {
  color: #fef06b;
}
