.gallery_header {
  padding: 140px 0;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
  position: relative;
}
.gallery_header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  top: 0;
  background: url("../../assets/imgs/akin-cakiner-nkUFXi0JSX8-unsplash.jpg");
}

.images_container {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.gallery_img {
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.6);
  border-radius: 20px;
  transition: all 0.5s;
}
.gallery_img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 1);
  filter: grayscale(0) brightness(1);
}
.gallery_img_container {
  padding: 10px;
  width: 25%;
  min-width: 300px;
}
